<!DOCTYPE html>
<html>
<head>
    <title>{{ fund_company.name }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      function load(){
        $(window).on('load', function () {
          $('#loading').hide();
        })
      }
      function log(){
        $('#loading').hide();
        document.getElementById('content').style.display= 'block' ;
      }
      setTimeout(log,1000);
      $(document).ready(function(){
        var $cells = $("td");
        $("input").keydown(function(){});

        $("input").keyup(function() {
          var val = $.trim(this.value).toUpperCase();
          if (val === "")
              $cells.parent().show();
          else {
              $cells.parent().hide();
              $cells.filter(function() {
                  return -1 != $(this).text().toUpperCase().indexOf(val);
              }).parent().show();
          }
        });
      });
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,700");
      body {
        font-family: 'Roboto Mono', sans-serif !important;
      }
      .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        margin: auto;
        width: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }
      .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
      }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      #content{
        display: none;
      }
      .flex-parent-element {
        display: flex;
        width: 100%;
      }
      .flex-child-element {
        flex: 1;
        margin: 10px;
      }
      .flex-child-element:first-child {
        margin-right: 20px;
      }
      table thead tr th.sort-asc:after {
        content: "\25b4";
      }
      table thead tr th.sort-desc:after {
        content: "\25be";
      }
      .row {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: left; 
      }
      .block {
        width: 45%;
      }
      .cellContainer {
        width: 50%;
        float: left;
      }
    </style>
</head>
<body>
  <div id="loading" class = "center">
    <div class="loader"></div>
  </div>
  <div id="content" class="m-3">
    <a href="/"><h1>FCS</h1></a>
    <h1>{{ fund_company.name }}</h1>
    <h5>{{ fund_company.cik_id }}</h5>
    {% if hasdata %}
    <span>{{data.addresses.business.street1}}, {{data.addresses.business.city}}, {{data.addresses.business.stateOrCountry}}</span>
    <p>{{data.phone}}</p>
    {%endif%}
    <div class="shadow p-4 mb-4 bg-white">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-managers-tab" data-bs-toggle="pill" data-bs-target="#pills-managers" type="button" role="tab" aria-controls="pills-managers" aria-selected="true">Data</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-issuers-tab" data-bs-toggle="pill" data-bs-target="#pills-issuers" type="button" role="tab" aria-controls="pills-issuers" aria-selected="false">Analysis</button>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-managers" role="tabpanel" aria-labelledby="pills-managers-tab">
        <div class="shadow p-4 mb-4 bg-white">
          {% if positions|length == 0 %}
          <h1>No Russell 1000 Security bought in last 5 years</h1>
          {% else %}
          <div class='flex-parent-element'>
            <div class="form-outline mb-4 flex-child-element">
              <input type="text" id="search" class="form-control" placeholder="Search for Securities" aria-label="Search" />
            </div>
            <div class="form-outline mb-4 flex-child-element">
              <div class="dropdown">
                <button onClick="drop()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Quarter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <span class="dropdown-item" onclick="myFunction('')">All Quarters</span>
                  {% for quarter in quarters %}
                  <span class="dropdown-item" onclick="myFunction('{{quarter}}')" href="#">{{quarter}}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Security</th>
                  <th scope="col">Ticker</th>
                  <th scope="col">Value</th>
                  <th scope="col">Shares</th>
                  <th scope="col">Date Filed</th>
                  <th scope="col">Quarter</th>
                </tr>
              </thead>
              <tbody>
                {% for position in positions %}
                  <tr onclick="$('#loading').show(); window.location='/cusip/{{ position.cusip }}';">
                    <td>{{ position.issuer }}</td>
                    <td>{{ position.ticker }}</td>
                    <td>{{ position.value }}</td>
                    <td>{{ position.shares }}</td>
                    <td>{{ position.date }}</td>
                    <td>{{ position.quarter }}</td>
                  </tr>       
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="tab-pane fade" id="pills-issuers" role="tabpanel" aria-labelledby="pills-issuers-tab">
        <h1 class ="ml-2 pb-4 cellContainer">{{quart}}</h1>
        {% if quart == "All Quarters" %}
        {% else %}
        <div class="pb-4 dropdown cellContainer">
          <h1 class ="ml-2">{{quartC}}</h1>
          <button onClick="drop()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Compare With
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for quarter in quarters %}
            <span class="dropdown-item" onclick="compare('{{quart}}' , '{{quarter}}', '{{fund_company.cik_id}}')" href="#">{{quarter}}</span>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <div class="shadow  bg-white">
          <div class="row">
            <div class="block" id="chart_all"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function myFunction(quarter) {
      $(".dropdown-menu").toggle()
      if(quarter == ''){
        window.location="?all"
      }else{
        window.location='?q=' + quarter
      }
    }
    function drop(){
      $(".dropdown-menu").show()
    }
    function compare(quart, quarter, cik) {
      $(".dropdown-menu").toggle()
      let newUrl = '/cik/' + cik  + '/?q=' + quart + '&c=' + quarter
      window.location=newUrl
    }
  </script>
  {{ time_series|json_script:"time_series" }}
  <script>
    var time_series = JSON.parse(document.getElementById('time_series').textContent)

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable(time_series);

      var options = {
        title: '',
        vAxis: {title: 'Shares'},
        isStacked: true,
        width: 1300,
        height: 800,
        hAxis: {title: 'Securities', textStyle:{ fontSize: 7}},
        explorer: {
          maxZoomOut:2,
          keepInBounds: true
        }
      };

      var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_all'));

      chart.draw(data, options);
    }
  </script>
  <script>
    function TableCellValue(row, index) {
      return $(row).children("td").eq(index).text();
    }
    
    function TableComparer(index) {
      return function(a, b) {
        var val_a = TableCellValue(a, index);
        var val_b = TableCellValue(b, index);
        var result = ($.isNumeric(val_a) && $.isNumeric(val_b)) ? val_a - val_b : val_a.toString().localeCompare(val_b);

        return result;
      }
    }

    $(document).on("click", "table thead tr th:not(.no-sort)", function() {
      var table = $(this).parents("table");
      var rows = $(this).parents("table").find("tbody tr").toArray().sort(TableComparer($(this).index()));
      var dir = ($(this).hasClass("sort-asc")) ? "desc" : "asc";

      if (dir == "desc") {
        rows = rows.reverse();
      }

      for (var i = 0; i < rows.length; i++) {
        table.append(rows[i]);
      }

      table.find("thead tr th").removeClass("sort-asc").removeClass("sort-desc");
      $(this).removeClass("sort-asc").removeClass("sort-desc") .addClass("sort-" + dir);
    });
  </script>
</body>
</html>